{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
  <div class=" row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
            {% csrf_token %}
            <div class="mb-3">
            <label for="inputEmail1" class="form-label">{{ form.username.label_tag }}</label>
              {{ form.username }}
            </div>
            <div class="mb-3">
            <label for="inputPassword1" class="form-label">{{ form.password.label_tag }}</label>
              {{ form.password }}
            </div>
            <input type="submit" class="btn btn-primary" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
            {# Assumes you set up the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
