{% extends "base.html" %}

{% block title %}Register{% endblock title %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Register</div>
          <div class="card-body">
            <form method="POST" action="{% url 'users:register' %}">
              {% csrf_token %}
              {% for field in form%}
                {{field.label}}
                {{field}}
              {% endfor %}
              <button type="submit" class="btn btn-primary">Register</button>
              {{form.errors}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
