{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Submissions{% endblock title %}

{% block content %}
  <h2>Submissions</h2>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      .center-table {
        display: flex;
        justify-content: center;
      }
      table {
        border-collapse: collapse;
        width: 200%;
        margin: 20px 0;
      }
      th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <div class="center-table">
    <table>
      <thead>
        <tr>
          <th>Submission ID</th>
          <th>User</th>
          <th>Task</th>
          <th>Status</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submissions.all %}
          <tr>
            <td>{{ submission.id }}</td>
            <td>{{ submission.author }}</td>
            <td>{{ submission.task.title }}</td>
            <td>{{ submission.status }}</td>
            <td>{{ submission.created_at}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
  </body>
{% endblock content %}
