{% extends "base.html" %}

{% block title %}Lista de Submissões{% endblock title %}

{% block content %}
  <div>
    <h3>Lista de Submissões</h3>

    <div class="gap-3" style="display: grid;">
      {% for submission in submissions %}
        <div class="g-col-6 card">
          <div class="card-header">
            <a href="{% url 'submission_detail' submission.id %}">
              Submissão #{{ submission.id }}
            </a>
            <span class="text-muted align-middle" style="font-size: 0.90rem;">
              Autor: {{ submission.author.username }}
            </span>
            <span class="badge bg-info float-end mt-1">
              Status: {{ submission.get_status_display }}
            </span>
          </div>
          <div class="card-body">
            <p>Tarefa: {{ submission.task.title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
