{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} | Virtual Judge</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock content %}
  </main>
</body>
</html>
