{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ task.title }}{% endblock title %}

{% block content %}
<h1>
  <a href="{% url 'tasks:detail' task.id %}">
    {{ task.title }}
  </a>
</h1>
<hr>

<div>
  <p>
    <b>Score:</b> {{ task.score|default:"???" }}
  </p>
  <p>
    <b>Memory limit:</b>
    {% if task.memory_limit %}
      {{ task.memory_limit|filesizeformat }}
    {% else %}
      Unlimited
    {% endif %}
  </p>
  <p>
    <b>Time limit:</b>
    {% if task.time_limit %}
      {{ task.time_limit }}
      second{{ task.time_limit|pluralize:"s" }}
    {% else %}
      Unlimited
    {% endif %}
  </p>
</div>
<hr>
<h4>Description</h4>
<p>{{ task.description }}</p>

<hr>

<h4>Constraints</h4>
<ul>
  {% for constraint in task.constraints %}
    <li>{{ constraint }}</li>
  {% empty %}
    <li>None</li>
  {% endfor %}
</ul>

<hr>

<form method="post">
  {% csrf_token %}

  <div class="row justify-content-center">
    <br>
    <h4>Submit</h4>
    {{ form|crispy }}
    <input
      type="submit"
      class="btn btn-primary"
      style="width: 40%; margin-top: 25px;"
      value="Submit"
    >
  </div>
</form>

{% endblock content %}
